<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.coffeeboardproject.mapper.CartMapper">
    <resultMap type="com.example.coffeeboardproject.dto.Coffee" id="Coffee">
    <result column="coffee_id" property="coffee_id"/>
    <result column="coffee_name" property="coffee_name"/>
    <result column="coffee_price" property="coffee_price"/>
    </resultMap>

    <resultMap type="cartto" id="cartto">
    <result column="orderdetail_id" property="orderdetail_id"/>
    <result column="quantity" property="quantity"/>
    <result column="order_id" property="order_id"/>
    <result column="coffee_id" property="coffee_id"/>
    <collection property="coffee" resultMap="Coffee"/>
    </resultMap>

    <select id="orderdetail_select" parameterType="cartto" resultMap="cartto">
        select od.orderdetail_id, od.quantity, od.order_id, od.coffee_id,
               cf.coffee_id, cf.coffee_name, cf.coffee_price
        from orderdetail od
        join coffee cf
        on od.coffee_id=cf.coffee_id
        where od.coffee_id = #{coffee_id}
    </select>

    <select id="orderdetail_selectAll" resultMap="cartto">
        select od.orderdetail_id, od.quantity, od.order_id, od.coffee_id,
               cf.coffee_id, cf.coffee_name, cf.coffee_price
        from orderdetail od
        join coffee cf
        on od.coffee_id=cf.coffee_id
    </select>

    <insert id="orderdetail_insert" parameterType="cartto">
        insert into orderdetail (order_id, coffee_id)
        values ( #{order_id}, #{coffee_id})
        ON DUPLICATE KEY UPDATE
        quantity = quantity + 1;
    </insert>

    <select id="selectfor_cartpersis" resultType="cartto">
        select quantity, order_id, coffee_id
        from orderdetail
    </select>

    <insert id="insertAllinto_cartpersis" parameterType="cartto">
        insert into cartpersis
        values ( #{quantity}, #{order_id}, #{coffee_id} )
    </insert>

    <update id="updateorderidinto_cartpersis" parameterType="int">
        update cartpersis
        set order_id = #{order_id}
        where order_id = 0
    </update>

    <delete id="cart_delete" parameterType="java.lang.Integer">
        delete from orderdetail;
    </delete>
</mapper>